html(xmlns="http://www.w3.org/1999/xhtml")
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    table
      tbody
        td
          a(href="/index" title="首页")首页
        td 
          a(href="#" title="导航")导航
    block content
