extends layout

block content
  h1= title
    - for(var i=0; i<videodata.length; i++)
      dev(id="video")
        a(href="./videoplay?url="+videodata[i].url title=videodata[i].name)
          p=videodata[i].name

  
